	img {
  -webkit-filter: drop-shadow(2px 2px 2px #222222);
  filter: drop-shadow(2px 2px 2px #222222);
}
	.responsive {
    width: 100%;
    height: auto;
	}
	mark{
    padding: 2px 4px;
    font-size: 90%;
    color: #007400;
    background-color: rgba(99, 107, 140, 0.21);
    border-radius: 4px;
}
		
		@media (max-width:  979px) {
	.x-navbar {
		display: none;
	}
}
	@media (min-width:  979px) {
	.y-navbar {
		display: none;
	}
}
	
	.color-box-black {
		background-color: black;
		width: 10px;
		height: 10px;
		
		
	}
	.bs-canvas-overlay {
   		opacity: 0;
		z-index: -1;
	}
	
	.bs-canvas-overlay.show {
   		opacity: 0.85;
		z-index: 1100;
	}
	
	.bs-canvas {
		top: 0;
		width: 0;
		z-index: 1110;		
		overflow-x: hidden;		
		overflow-y: auto;		
	}
	
	
	.bs-canvas-left {
		left: 0;
	}
		
	.bs-canvas-right {
		right: 0;
	}
	
	.bs-canvas-anim {
		transition: all .4s ease-out;
		-webkit-transition: all .4s ease-out;
		-moz-transition: all .4s ease-out;
		-ms-transition: all .4s ease-out;
	}
	
	/*BEGIN STYLE FOR DEMO ONLY. DON'T COPY.*/
	pre {
 		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
	
	.span-demos {
		width: 96px;
	}

		