<hr>

<footer data-pagefind-ignore="all" class="container">
  <div class="row">
    <div class="col-7 col-md">
 <h5><a href="{{ url }}/">Linux Dersleri</a> | <a target="_blank" href="https://github.com/Linux-Dersleri/linux-dersleri.github.io"><i class="fa fa-github fa-lg"></i></a></h5>
 <p class="small">GNU/Linux için Türkçe içerik sağlamak üzere kurulmuş bir platformdur.</p>
	 
	  
    </div>
    <div class="col-5 col-md">
      <h5>Eğitim Serileri</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ site.url }}/temel-linux">Temel Linux</a></li>
        <li><a class="text-muted" href="{{ site.url }}/temel-network">Temel Network</a></li>
      </ul>
    </div>
    
  
    <div class="col-6 col-md">
      <h5>Hakkında</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ site.url }}/sıkca-sorulan-sorular.html">S.S.S.</a></li>
        <li><a class="text-muted" href="{{ site.url }}/gizlilik.html">Veri Politikası</a></li>
        <li><a class="text-muted" href="{{ site.url }}/bildirim.html">Geri Bildirim</a></li>
		<li><a class="text-muted" href="mailto: info@linuxdersleri.net">İletişim</a></li>
      </ul>
    </div>
	<div align="center" class="col-6 col-md">
    
      <h5>Android Uygulaması</h5>
      <img src="{{ site.url }}/data/img/telefon.webp" alt="Image" class="responsive">
      <ul class="list-unstyled text-small">
        <a href='https://play.google.com/store/apps/details?id=com.bildik.linuxdersleri&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="width: 75%;" alt='Google Play'den alın' src='{{ site.url }}/data/img/tr_badge_web_generic.webp'/></a>
      </ul>
    </div>
  </div>
</footer>