<meta charset="utf-8">
<meta name="bizverify" content="verify=a906f9c49c161cbb11dbbf57a3fae1af">
<link rel="icon" href="/data/img/logo.webp" type="image/svg+xml" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

{% include seo.html %}
{% include structured-data.html %}

<script async src="https://www.googletagmanager.com/gtag/js?id=G-34XLKDXXD3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-34XLKDXXD3');
</script>
{% if site.owner.google.verify %}
<meta name="google-site-verification" content="{{ site.owner.google.verify }}">
{% endif %}
{% if site.owner.bing-verify %}
<meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
<link rel="manifest" href="{{ site.url }}/manifest.json">
